:root {
    --primary-color: #8B008B; /* Magenta */
    --secondary-color: #6A006A; /* Magenta escuro */
    --accent-color: #929292; /* Cinza */
    --background-color: #363636; /* Cinza escuro */
    --text-color: #FFFFFF; /* Branco */
    --text-light-color: #F9F9F9; /* Branco claro */
    --border-color: #4F4F4F; /* Cinza médio */
    --font-family: 'Roboto', sans-serif;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --transition-speed: 0.3s;
}
